

alura-stickers/.vscode
.vscode/*
.vscode
.vscode

alura-stickers/bin
alura-stickers/output/*.png
output/*.png
*.png
output/
*output

alura-stickers/oop.md
oop.md
alura-stickers/stickersgenerator.md
stickersgenerator.md

alura-stickers/.DS_Store
.DS_Store

# local env files
.env*.local
.env
.env.local



