alura-stickers/bin

alura-stickers/bin/*

bin/

*bin

/bin

*/bin

bin/*

bin/

bin*

.class
*.class

bin/*.class
bin/*

bin/App.class

bin/JsonParser.class

bin/StickersGenerator.class


alura-stickers/bin

DS_Store

bin



alura-stickers/.vscode
.vscode/*
.vscode


alura-stickers/output/*.png
output/*.png
*.png
output/
*output

alura-stickers/lib/*.png
lib/*.png
*.png
lib/
*lib


alura-stickers/input/*.png
input/*.png
*.png
input/
*input



alura-stickers/.DS_Store
.DS_Store
*.DS_Store
/.DS_Store
/.DS_Store*
.DS_Store*


.env*.local
.env
.env.local



alura-stickers/bin/*.class
bin/*.class
*.class
bin/
*bin